.book {
  background-color: var(--grey);
  display: flex;
  gap: 15px;
  padding: 10px 10px 20px 10px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 3px;
}

.bookInfo h1 {
  font-size: 1.35rem;
  margin-bottom: 20px;
  padding-top: 15px;
  color: var(--purple);
}

.bookInfo h3 {
  margin-bottom: 8px;
  font-size: 1.05rem;
  color: var(--dark-grey);
}
.imgContainer {
  height: 200px;
  width: 200px;
  overflow: hidden;
 
}

.bookCover {
  height: 200px;
  width: 135px;
 

}

.btn a {
  text-decoration: none;
  color: var(--white);
}

.btn {
  background-color: var(--purple);
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
