.hero{
    display: flex;
    gap:130px;
    padding-top: 48px;
    margin: 0px 60px;

}
.content{
    align-self: center;
}

.content a{
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.7rem 3rem 0.7rem 3rem;
    border-radius: 5px;


}
.content button{
    border: none;
}

.content a:hover{
    background-color: #5397be;

}
.content h2{
    color:var(--grey);
    font-size: 3rem;
    line-height: 65px;
}
.content p{
    color:var(--grey);
    margin:16px 0px ;
    line-height: 27px;
}

.blue{
    color: var(--light-blue);
}

