.homePage{
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-height: 100vh;
}

.image {
  width: 50%;
  height: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  /* justify-content: center; */
}

.logo {
  color: var(--white);
  font-size:3rem;
}
.btn {
  background-color: var(--pink);
  color: var(--white);
  border-radius: 15px !important;
  border: none;
  cursor: pointer;
  padding: 5px;
  padding: 16px 30px;
  border-radius: 10px;
  font-size: 1.05rem;
}

.searchBar{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: 1.05rem;

}
.searchBar:focus{
    outline: none;
}

.books span{
    color: var(--white);
}

@media(max-width:499px){
    .hero{
        display: flex;
        flex-direction: column;

    }
    .image{
        width: 100%;
        height: 100%;
    }
}


@media(min-width:500px) and (max-width:767px){
    .hero{
        display: flex;
        flex-direction: column;

    }
    .image{
        width: 80%;
        height: 80%;
    }
}
